/* Algemene opmaak */
/*ALS test zit de algemene opmaak in 3 onderverderlingen afhankelijk scherm grote, 
    bepaalde delen kunnen voor alle 3 gelden, dit moet nadien aangepast worden

*/

/* Style the links inside the sidenav */
body {
    overflow: hidden;
}

.no-wrap {
    white-space: nowrap;
}




/* Voor schermen kleiner dan 650px */
@media only screen and (max-width: 500px) {
    /* CSS-regels hier */
    body {
        margin: auto;
        background: radial-gradient(circle, #571a13, #170305);
        height: 100vh;
        display: flex;

        font-family: Arial, sans-serif;
    }

    .dark-theme {
        background: black; /* Dark background color */
        border-color: dimgray;
    }

        .dark-theme img {
            border: 15px solid dimgray; /* Border color for images in dark mode */
            border-style: ridge;
        }


    /* Kopstijl */
    h1, .ppp, .pp3, .pp, .pp2 {
        text-transform: uppercase;
        font-size: 3rem;
        font-family: "Libre Baskerville", serif;
        font-weight: bold;
        text-shadow: 2px 2px 4px gray;

    }

    /* Paragraafstijlen */
    .ppp {
        font-size: 1rem;
 
    }

    /* Container */
    .container {
        display: flex;
     
    }



    /* Selecteerstijlen */
    select {
        font-size: 0.8rem;
        width: 150px;
        text-align: right;
        font-family: "Libre Baskerville", serif;
        font-weight: bold;
        text-shadow: 2px 2px 4px gray;
     
    }

    /* Knopstijl */
    button {
        background: linear-gradient(to left, indianred, #170305, #170305);
        border-top-right-radius: 50px; /* Afgeronde hoek voor de rechterbovenhoek */
        border-bottom-right-radius: 50px;
        color: white;
        border: inherit;
        cursor: pointer;
        width: 0; /* Begin met een breedte van 0 */
        transition: width 0.7s ease; /* Voeg een overgang toe voor een vloeiende animatie */
    }
        /* Stijl voor de vergrote knop bij hover */
        button:hover,
        button:focus {
            width: 150px; /* Vergroot de breedte naar 150px bij hover */
            color: grey;
            border: medium;
            border-color: white;
            border-width: 3px;
            transform: scale(1.1); /* Bij hover vergroot de grootte */
        }

        button:nth-child(1):hover,
        button:nth-child(1):focus {
            transition-delay: 0s; /* Geen vertraging voor het eerste element */
        }

        button:nth-child(2):hover,
        button:nth-child(2):focus {
            transition-delay: 0.5s; /* Geen vertraging voor het eerste element */
        }

        button:nth-child(3):hover,
        button:nth-child(3):focus {
            transition-delay: 0.8s; /* Geen vertraging voor het eerste element */
        }


    li {

        font-size: 1rem;
        font-family: "Libre Baskerville", serif;
        font-weight: bold;
        width: auto;
        text-align: left;
    }

    /* Gekleurde rechthoek */
    .gekleurde-rechthoek {
        width: 100%;
        height: auto;
        background-color: ghostwhite;
        color: white;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
    }

    /* Inhoudscontainer */
    .content {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

    }


    /* Posterstijlen */
    .poster {
        width: 50%;
        margin-left: 15%;
        margin-top: 100px;

        font-family: "Libre Baskerville", serif;
        text-align: center;

    }

    /* Motivatieafbeelding */
    .motivation-img {
        border: 11px solid white;
        border-style: ridge;
        border-radius: 50px;
        width: 100%;

    }


    .content {
        width: 90%;
        height: 100%;

    }

    p, .pp {
        font-size: 2rem;

    }

    .dropdown, .sidebar {
        position: relative;
        display: inline-block;
    }

        .dropdown-content, .sidebar ul li a {
            font-family: "Libre Baskerville", serif;
            font-weight: bold;

            width : 500px;
        }

    .dropdown-content {

        display: none;
        position: fixed;
        bottom: 100;
        left: 100;
        margin: 20px;
        z-index: 999;
        background-color: gray;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px 40px 40px;
            border-image-width: 3px;
            border-width: thick;
            border-color: indianred;
            text-decoration: none;
            display: block;
            width: 500px;
        }

            .dropdown-content a:hover {
                background-color: indianred;
            }

    .show {
        display: block;

    }

    .motivation-img {
        border: 5px solid white;
        border-style: ridge;
        border-radius: 50px;
        width: 90%;
    }
}

/* Voor schermen tussen 650px en 850px */
@media only screen and (min-width: 501px) and (max-width: 850px) {
    /* CSS-regels hier */
    body {
        margin: 0;
        padding: 0;
        background: radial-gradient(circle, #571a13, #170305);
        height: 100vh;
        display: flex;

        font-family: Arial, sans-serif;
    }
    .dark-theme {
        background-color: black; /* Dark background color */
    }
    /* Kopstijl */
    h1, .ppp, .pp3, .pp, .pp2 {
        text-transform: uppercase;
        font-size: 3rem;
        font-family: "Libre Baskerville", serif;
        font-weight: bold;
        text-shadow: 2px 2px 4px gray;

    }

    /* Paragraafstijlen */
    .ppp {
        font-size: 1rem;

    }

    /* Container */
    .container {
        display: flex;

    }

    .dark-theme {
        background: black; /* Dark background color */
        border-color: dimgray;
    }

        .dark-theme img {
            border: 15px solid dimgray; /* Border color for images in dark mode */
            border-style: ridge;
        }

    /* Knopstijl */
    button {
        background: linear-gradient(to left, indianred, #170305, #170305);
        border-top-right-radius: 50px; /* Afgeronde hoek voor de rechterbovenhoek */
        border-bottom-right-radius: 50px;
        color: white;
        border: inherit;
        cursor: pointer;
        width: 0; /* Begin met een breedte van 0 */
        transition: width 0.7s ease; /* Voeg een overgang toe voor een vloeiende animatie */
    }
        /* Stijl voor de vergrote knop bij hover */
        button:hover,
        button:focus {
            width: 150px; /* Vergroot de breedte naar 150px bij hover */
            color: grey;
            border: medium;
            border-color: white;
            border-width: 3px;
            transform: scale(1.1); /* Bij hover vergroot de grootte */
        }

        button:nth-child(1):hover,
        button:nth-child(1):focus {
            transition-delay: 0s; /* Geen vertraging voor het eerste element */
        }

        button:nth-child(2):hover,
        button:nth-child(2):focus {
            transition-delay: 0.5s; /* Geen vertraging voor het eerste element */
        }

        button:nth-child(3):hover,
        button:nth-child(3):focus {
            transition-delay: 0.8s; /* Geen vertraging voor het eerste element */
        }

    /* Selecteerstijlen */
    select {
        font-size: 0.8rem;
        width: 150px;
        text-align: right;
        font-family: "Libre Baskerville", serif;
        font-weight: bold;
        text-shadow: 2px 2px 4px gray;

    }

    /* Knopstijl */


    li {
    
        font-size: 1rem;
        font-family: "Libre Baskerville", serif;
        font-weight: bold;
        width: auto;
        text-align: left;
    }

    /* Gekleurde rechthoek */
    .gekleurde-rechthoek {
        width: 100%;
        height: auto;
        background-color: ghostwhite;
        color: white;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
    }

    /* Inhoudscontainer */
    .content {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

    }


    /* Posterstijlen */
    .poster {
        width: 50%;
        margin-left: 15%;
        margin-top: 100px;

        font-family: "Libre Baskerville", serif;
        text-align: center;

    }

    /* Motivatieafbeelding */
    .motivation-img {
        border: 11px solid white;
        border-style: ridge;
        border-radius: 50px;
        width: 100%;

    }

    .content {
        width: 120%;
        height: 100%;
    }
    /* Zijbalk */
    .sidebar {
        width: 0;
        height: auto;
        overflow-x: hidden;
        transition: 0.5s;

        max-width: 100%;
    }

        .sidebar ul {
            list-style: none;
            padding: 10px;

            width: 500px;
            max-width: 100%;
        }

            .sidebar ul li {
                padding: 15px;
                width: 500px;
                max-width: 100%;
            }

                .sidebar ul li a {

                    font-size: 1rem;
                    font-family: "Libre Baskerville", serif;
                    font-weight: normal;
                    text-decoration: underline;
                    text-decoration-color: white;
                    text-shadow: 2px 2px 4px gray;
                    text-decoration: none;
                    width: 500px;
                    max-width: 100%;
                }

    /* Toon zijbalk */
    .show-sidebar, .show {
        width: 850px;
        text-decoration: underline;
        font-size: 1rem;
        font-family: "Libre Baskerville", serif;
        font-weight: normal;
        text-decoration-color: white;
        text-shadow: 2px 2px 4px gray;
        color: darkgray;
    }
    .show {
        display: block;
    }
}

/* Voor schermen groter dan 850px */
@media only screen and (min-width: 851px) {
    /* CSS-regels hier */
    body {
        margin: 100;
        padding: 150;
        background: radial-gradient(circle, #571a13, #170305);
        height: 100vh;
        display: flex;

        font-family: Arial, sans-serif;
    }
    .dark-theme {
        background: black; /* Dark background color */
        border-color: dimgray;
        
    }

        .dark-theme img {
            border: 15px solid dimgray; /* Border color for images in dark mode */
            border-style: ridge;
        }


    /* Kopstijl */
    h1, .ppp, .pp3, .pp, .pp2 {
        text-transform: uppercase;
        font-size: 3rem;
        font-family: "Libre Baskerville", serif;
        font-weight: bold;
        text-shadow: 2px 2px 4px gray;

    }

    /* Paragraafstijlen */
    .ppp {
        font-size: 1rem;

    }

    /* Container */
    .container {
        display: flex;

    }



    /* Selecteerstijlen */
    select {
        font-size: 0.8rem;
        width: 150px;
        text-align: right;
        font-family: "Libre Baskerville", serif;
        font-weight: bold;
        text-shadow: 2px 2px 4px gray;

    }
    /* Knopstijl */
    button {
        background: linear-gradient(to left, indianred, #170305, #170305);
        border-top-right-radius: 50px; /* Afgeronde hoek voor de rechterbovenhoek */
        border-bottom-right-radius: 50px;
        color: white;
        border: inherit;
        cursor: pointer;
        width: 0; /* Begin met een breedte van 0 */
        transition: width 0.7s ease; /* Voeg een overgang toe voor een vloeiende animatie */
    }
        /* Stijl voor de vergrote knop bij hover */
        button:hover,
        button:focus{
            width: 150px; /* Vergroot de breedte naar 150px bij hover */
            color: grey;
            border: medium;
            border-color: white;
            border-width: 3px;
            transform: scale(1.1); /* Bij hover vergroot de grootte */
        }

        button:nth-child(1):hover,
        button:nth-child(1):focus {
            transition-delay: 0s; /* Geen vertraging voor het eerste element */
        }

        button:nth-child(2):hover,
        button:nth-child(2):focus {
            transition-delay: 0.5s; /* Geen vertraging voor het eerste element */
        }

        button:nth-child(3):hover,
        button:nth-child(3):focus {
            transition-delay: 0.8s; /* Geen vertraging voor het eerste element */
        }

    /* Knopstijl */

    li {

        font-size: 1rem;
        font-family: "Libre Baskerville", serif;
        font-weight: bold;
        width: auto;
        text-align: left;
    }

    /* Gekleurde rechthoek */
    .gekleurde-rechthoek {
        width: 100%;
        height: auto;
        background-color: ghostwhite;
        color: white;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
    }

    /* Inhoudscontainer */
    .content {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

    }


    /* Posterstijlen */
    .poster {
        width: 50%;
        margin-left: 15%;
        margin-top: 100px;

        font-family: "Libre Baskerville", serif;
        text-align: center;

    }

    /* Motivatieafbeelding */
    .motivation-img {
        border: 11px solid white;
        border-style: ridge;
        border-radius: 50px;
        width: 100%;

    }

    .content {
        width: 100%;
        height: 100%;
    }
    /* Zijbalk */
    .sidebar {
        width: 0;
        height: auto;
        overflow-x: hidden;
        transition: 0.5s;
        max-width: 100%;
    }

        .sidebar ul {
            list-style: none;
            padding: 10px;
            max-width: 100%;
        }

            .sidebar ul li {
                padding: 15px;
                max-width: 100%;
            }

                .sidebar ul li a {
        
                    font-size: 1rem;
                    font-family: "Libre Baskerville", serif;
                    font-weight: normal;
                    text-decoration: underline;
                    text-decoration-color: white;
                    text-shadow: 2px 2px 4px gray;
                    text-decoration: none;
                    max-width: 100%;
                }
                    .sidebar ul li a:hover {
                        color: red; /* Verander de kleur naar geel wanneer erover wordt gehoverd */
                    }

    /* Toon zijbalk */
    .show-sidebar, .show {
        width: 750px;
        text-decoration: underline;
        font-size: 1rem;
        font-family: "Libre Baskerville", serif;
        font-weight: normal;
        text-decoration-color: white;
        text-shadow: 2px 2px 4px gray;
        color: darkgray;
        max-width: 100%;
    }
    .show {
        display: block;
        max-width: 100%;
    }
}